﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WebProgramming.ascx.cs" Inherits="Application2b.usercontrol.WebProgramming" %>

<asp:DataGrid ID="WProgram_snippet" runat="server" CssClass="code1"
        GridLines="None" Width="250px" CellPadding="2" >
       <HeaderStyle Font-Size="Small" BackColor="#F3E3A8" ForeColor="#808080" />
        <ItemStyle BackColor="#B5C897" ForeColor="#DCDCDC"/>    
        </asp:DataGrid>